* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

#log {
  height: 100%;
  overflow: scroll;
}

#round {
  border-radius: 20px;
  border-style: hidden;
  padding: 10px;
  margin: 20px;
}

.title {
  font-size: 24px;
  padding: 5px;
  margin: 0px;
  font-weight: bolder;
}

#hit {
  color: red;
  font-weight: bold;
}

#miss {
  color: green;
  font-weight: bold;
}

#sopa1 {
  background-color:rgb(0, 255, 0);
  width: 100%;
  height: 40px;
}

#sopa2 {
  background-color:rgb(0, 255, 0);
  width: 100%;
  height: 40px;
}

.healthbar {
  font-size: 24px;
  font-weight: bold;
  color: white;
  z-index: 10;
  position: absolute;
}

button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}

.wrapper {
  height: 90vh;
  max-height: 90vh;
}

.stats {
  padding: 30px;
}

.column {
  float: left;
  width: 25%;
  background-color: thistle;
  height: 100%;
}

.column input {
  float: right;
}

.logcolumn {
  float: left;
  width: 49%;
  height: 100%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 20px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: gray;
}